.advantages {
    padding-bottom: 120px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
    /* align-content: space-between; */
    /* height: 496px; */
}

.advantages__figure {
    position: relative;
    height: 228px;
    transition: 0.2s;
}

.advantages__figure:hover {
    transform: scale(1.1);
}

.advantages__item-name {
    position: absolute;
    top: 166px;
    left: 40px;
}

.advantages__item_transform {
    transform: translateY(70px);
}