.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
    /* align-content: space-between; */
    /* height: 496px; */
}

.advantages__figure {
    position: relative;
    height: 228px;
}

.advantages__item-name {
    position: absolute;
    top: 166px;
    left: 40px;
}