.banner {
    padding-top: 0;
}

.banner__wrapper {
    position: relative;
    height: 823px;
}

.banner__wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 675px;
    height: 762px;
    background-image: url('../img/img-banner.png');
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
}

.banner__text {
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
}

.banner__description-text {
    margin-bottom: 30px;
    padding-left: 100px;
}

.banner__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 400px;
    margin-bottom: 150px;
}

.banner__text-block {
    width: 193px;
    text-align: center;
    font-size: 30px;
    line-height: normal;
}

.banner__text-decor {
    display: block;
    color: #CD06FF;
    font-size: 75px;
    font-weight: 900;
    line-height: normal;
    font-variant: all-small-caps;
}

.banner__text-decor_number {
    font-size: 100px;
    font-weight: 900;
}

.banner__button {
    display: block;
    width: fit-content;
    padding: 25px 69px;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #6C0287;
    box-shadow: 0px 0px 15px 0px #6C0287;
    transition: 0.2s;
}

.banner__button:hover {
    background-color: #840AA3;
}

.banner__button:focus {
    background-color: #840AA3;
    outline: none;
}

.banner__button:active {
    background-color: #640AA3;
}

.banner__button-down {
    background-image: url('../img/down.svg');
    position: absolute;
    width: 97px;
    height: 97px;
    bottom: 90px;
    left: 539px;
    z-index: 1;
    transition: 0.2s;
}

.banner__button-down:hover {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97" fill="none"><circle cx="48.5" cy="48.5" r="48" fill="white" stroke="white"/><rect x="34.4253" y="43.9162" width="1.82001" height="20.0201" transform="rotate(-44.9975 34.4253 43.9162)" fill="%236C0287"/><rect x="48.5806" y="58.0737" width="1.82001" height="20.0201" transform="rotate(-134.997 48.5806 58.0737)" fill="%236C0287"/></svg>');
}

.banner__button-down:focus {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="99" height="99" viewBox="0 0 99 99" fill="none"><circle cx="49.0052" cy="49.005" r="47.515" stroke="white"/><rect x="35.0713" y="44.4669" width="1.80181" height="19.8199" transform="rotate(-44.9975 35.0713 44.4669)" fill="white"/><rect x="49.085" y="58.483" width="1.80181" height="19.8199" transform="rotate(-134.997 49.085 58.483)" fill="white"/><rect x="0.5" y="0.5" width="98" height="98" stroke="%23CD06FF"/></svg>');
    outline: none;
    background-size: cover;
}

.banner__button-down:active {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97" fill="none"><circle cx="48.5" cy="48.5" r="48" fill="%23CD06FF" stroke="%23CD06FF"/><rect x="34.4253" y="43.9161" width="1.82001" height="20.0201" transform="rotate(-44.9975 34.4253 43.9161)" fill="white"/><rect x="48.5806" y="58.0737" width="1.82001" height="20.0201" transform="rotate(-134.997 48.5806 58.0737)" fill="white"/></svg>');
}