.banner {
    padding-top: 0;
}

.banner__wrapper {
    position: relative;
    height: 823px;
}

.banner__wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 675px;
    height: 762px;
    background-image: url('../img/img-banner.png');
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
}

.banner__text {
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
}

.banner__description-text {
    margin-bottom: 30px;
    padding-left: 100px;
}

.banner__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 400px;
    margin-bottom: 150px;
}

.banner__text-block {
    width: 193px;
    text-align: center;
    font-size: 30px;
    line-height: normal;
}

.banner__text-decor {
    display: block;
    color: #CD06FF;
    font-size: 75px;
    font-weight: 900;
    line-height: normal;
    font-variant: all-small-caps;
}

.banner__text-decor_number {
    font-size: 100px;
    font-weight: 900;
}

.banner__button {
    display: block;
    width: fit-content;
    padding: 25px 69px;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #6C0287;
    box-shadow: 0px 0px 15px 0px #6C0287;
}

.banner__button:hover {
    background-color: #840AA3;
}

.banner__button:focus {
    background-color: #840AA3;
    outline: none;
}

.banner__button:active {
    background-color: #640AA3;
}

.banner__button-down {
    position: absolute;
    width: 97px;
    height: 97px;
    bottom: 90px;
    left: 539px;
    z-index: 1;
}

.banner__button-down:hover {
    content: url('../img/down-hover.svg');
}

.banner__button-down:focus {
    content: url('../img/down-focus.svg');
    outline: none;
}

.banner__button-down:active {
    content: url('../img/down-active.svg');
}