.faq__list-item {
    font-weight: 700;
    font-size: 24px;
    padding: 20px 70px;
    line-height: 46px;
    color: #1C1A1A;
    background-color: var(--main-color, #FFFFFF);
}

.faq__list-item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__list-item:nth-child(even) {
    color: var(--main-color, #FFFFFF);
    background-color: #440F51;
}

.faq__list-item:after {
    content: "";
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}

.faq__list-item:nth-child(even):after {
    background-image: url('../img/icon-open.svg');
    transition: 0.2s;
}

.faq__list-item:nth-child(odd):after {
    background-image: url('../img/icon-open-purple.svg');
    transition: 0.2s;
}

.faq__list-item:nth-child(even):hover:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3e%3ccircle cx='23' cy='23' r='22.5' fill='white' stroke='white'/%3e%3cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='%236C0287'/%3e%3cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='%236C0287'/%3e%3c/svg%3e");
}

.faq__list-item:nth-child(odd):hover:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3e%3ccircle cx='23' cy='23' r='22.5' fill='%236C0287' stroke='%236C0287'/%3e%3cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='white'/%3e%3cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='white'/%3e%3c/svg%3e");
}

.faq__list-item:nth-child(even):active:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3e%3crect x='13' y='23' width='20' height='1' fill='white'/%3e%3ccircle cx='23' cy='23' r='22' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
}

.faq__list-item:nth-child(odd):active:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 46 46' fill='none'%3e%3ccircle cx='23' cy='23' r='22.5' stroke='%236C0287'/%3e%3crect x='13' y='23' width='20' height='1' fill='%236C0287'/%3e%3c/svg%3e");
}