.faq__list-item {
    font-weight: 700;
    font-size: 24px;
    padding: 20px 70px;
    line-height: 46px;
    color: #1C1A1A;
    background-color: #fff;
}

.faq__list-item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__list-item:nth-child(even) {
    color: #fff;
    background-color: #440F51;
}

.faq__list-item:after {
    content: "";
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
}

.faq__list-item:nth-child(even):after {
    background-image: url(/img/icon-open.svg);
}

.faq__list-item:nth-child(odd):after {
    background-image: url(/img/icon-open-purple.svg);
}