.feedbacks__list {
    max-width: 980px;
    margin: 0 auto;
}

.feedbacks__list-item {
    position: relative;
}

.feedbacks__list-item:not(:last-child) {
    margin-bottom: 50px;
}

.feedbacks__image {
    display: inline-block;
    width: 280px;
    margin-right: 14px;
}

.feedbacks__client-photo {
    width: 100%;
    height: 280px;
    margin-bottom: 11px;
    object-fit: cover;
    border-radius: 50%;
}

.feedbacks__image::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.00) 0%, rgba(108, 2, 135, 0.50) 100%);
}

.feedbacks__client-photo_max-samoilov {
    object-position: top;
}

.feedbacks__client-photo_oksana-grigorieva {
    object-position: 0 -40px;
}

.feedbacks__client-photo_nikita-yashenko {
    object-position: 0 -85px;
}

.feedbacks__client-name {
    text-align: center;
}

.feedbacks__text {
    display: inline-block;
    vertical-align: top;
    max-width: 680px;
    padding-top: 52px;
}