.social {
    display: flex;
    column-gap: 26px;
}

/* .social__list-item {
    float: left;
} */

/* .social__list-item:not(:last-child) {
    margin-right: 26px;
} */

.social__link {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--main-color, #FFFFFF);
    transition: 0.2s;
}

.social__link:hover {
    color: var(--fifth-color, #EADEED);
}

.social__link:focus {
    color: var(--fifth-color, #EADEED);
    border: 1px solid var(--second-color, #CD06FF);
    outline: none;
}

.social__link:active {
    color: var(--second-color, #CD06FF);
    border: none;
}

